name: ecomm

version: "3.9"

services:
  app:
    image: ecomm:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: ecomm
    restart: unless-stopped
    ports:
      - "3002:3000"   # Next.js exposed on host 4000
      - "3003:3001"   # Express churn API exposed on host 4001
    env_file:
      - .env.oci
    environment:
      NODE_ENV: "production"
      TNS_ADMIN: "/opt/oracle/wallet"
      ADB_WALLET_PATH: "/opt/oracle/wallet"
      # This URL is what the browser uses; it should match the exposed API port on the host
      NEXT_PUBLIC_API_URL: "https://ecomm.40b5c371.nip.io"
      # Note: Database and OCI endpoint variables are loaded from env_file (.env.oci)
    volumes:
      - ../wallets/Wallet_HHZJ2H81DDJWN1DM:/opt/oracle/wallet:ro
      - ../.oci:/root/.oci:ro

